.CreateOrderContainer {
  display: flex;
}

.CreateOrderContent {
  flex: 4;
  padding: 1.5rem 3rem;
}

.title {
  font-size: 2rem;
}

.createOrderForm {
  margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}
