.categories {
  margin: 0 auto;
}

.categoriesContainer {
  display: flex;
}

.categoryContent {
  flex: 4;
  padding: 1.5rem;
}

.categoryTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.categoryTitle {
  font-size: 2rem;
}

.categoriesTable {
  margin-top: 1rem;
  height: 80vh;
  width: 90%;
}
