.products {
  margin: 0 auto;
}

.productsContainer {
  display: flex;
}

.productsContent {
  flex: 4;
  padding: 1.5rem 3rem;
}

.productTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.productsTitle {
  font-size: 2rem;
}

.productsTable {
  margin-top: 1rem;
  height: 80vh;
  width: 90%;
}
