.products {
  margin: 0 auto;
}

.pageContentContainer {
  display: flex;
}

.productsContent {
  flex: 4;
}

.productTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.productsTitle {
  font-size: 2rem;
  margin: 1rem 0 1rem 1rem;
}

.btnAddNew {
  background-color: rgb(13, 115, 13);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
}

.productsTable {
  padding: 1rem;
  height: 80vh;
  width: 90%;
}
